* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  text-align: center;
}

/* Header */
.header {
  width: 1170px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search {
  width: 200px;
  height: 35px;
  color: rgb(100, 100, 100);
  padding: 0 5px;
}
.search-button {
  width: 100px;
  height: 35px;
  background: orange;
  color: white;
  border: none;
  margin: 0 10px;
}

/* Container */
.container {
  width: 1170px;
  height: 150px;
  margin: 0 auto;
  display: block;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 40px;
  color: orange;
}

/* Main menu */
.menu {
  width: 100%;
  height: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.menu-item {
  width: 100px;
  height: 50px;
  border: none;
  color: rgb(100, 100, 100);
  text-decoration: none;
  margin: 0 5px;
}
.menu-item:hover {
  color: orange;
}
/* Side bar */
section {
  width: 1170px;
  height: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info {
  width: 35%;
  height: 70%;
  margin-right: 5px;
  display: block;
  justify-content: flex-start;
  align-items: center;
  
}
h2 {
  font-size: 30px;
  color: rgb(100, 100, 100);
}
p {
  color: rgb(100, 100, 100);
}
.weather-info {
  width: 285px;
  height: 250px;
  margin: 10px auto;
  border: 1px solid grey;
  border-collapse: collapse;
  text-align: left;
}
td {
  border: 1px solid grey;
  padding: 0 5px;
}
tr:nth-child(1) {
  background: rgb(240, 240, 240);
}
tr:nth-child(3) {
  background: rgb(240, 240, 240);
}
tr:nth-child(5) {
  background: rgb(240, 240, 240);
}
tr:nth-child(7) {
  background: rgb(240, 240, 240);
}

/* Content */
.content-hourly, .content-daily {
  width: 65%;
  height: 70%;
  margin-left: 5px;
  display: block;
  justify-content: flex-start;
  align-items: center;
}
.box-date {
  width: 100%;
  height: 30px;
  background: rgb(240, 240, 240);
  border: 1px solid grey;
  padding: 0 5px;
  text-align: left;
  font-weight: bold;
  line-height: 25px;
  margin: 10px 0;
}


.box-info {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  margin: 5px 0;
}
.weather-prop, .weather-icon{
  width: 50%;
}
.temp {
  width: 50px;
  height: 20px;
  margin: 0 auto;
  border-radius: 5px;
  background: rgb(56, 42, 42);
  color: rgb(244, 246, 247);
}
.speed, .cloud, .pressure {
  margin-bottom: 10px; 
  margin-top: 5px;
}

.icon {
  width: 200px;
  height: 200px;
}
